/.gitold
/chat_history.db
/example.jpg
/example1.jpg
/flask_openai_app.log
/New Compressed (zipped) Folder.zip
/shared_folder
/static
/term.py
/terminal_agent.log
/test.py
/user_data.db
/worker.js
/__pycache__